<div class="row">
  <div class="col-md-4">
    <h4>
      {{ user.firstName }} {{ user.lastName }}
  </h4>
  </div>
  <div class="col-md-4">
    <a ui-sref="home">
      <button style="margin-top:20px" class="btn btn-default" ng-click="deleteUser(user._id)">Delete</button>
    </a>
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="user.email">email: <a ui-sref="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a></p>
    <p ng-if="user.mobile"> MobileNo: {{ user.mobile }} </p>
    <p ng-if="user.address">Address : {{ user.address }} </p>
    <p ng-if="user.role"> UserRole: {{ user.role }} </p>
    <p ng-if="user.password"> Password: {{ user.password }} </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" ui-sref="home">Back</a>
    </p>
  </div>
</div>
<!-- user form -->
<div ng-include="userFormUrl">
</div>
